*, *::before, *::after{  padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: "Poppins", sans-serif;
    line-height: 1.2 em;
    font-size: 13px;
}
.container-full{
    width: 100%;
}
ul{
    list-style: none;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
a{
    text-decoration:none;
}
[class*="col-"]{
    float:left;
}
/* thiet bi dien thoai */

[class*="col-"]{
    width: 100%;    
}

/* may tinh */
@media screen and (min-width:700px) {
    /* code css */
    .col-1{width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
.col-4 {width: 33.33%;}

.col-8 {width: 66.66%;}

.nav__icon{
    display: none !important;
}
}




