<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ</title>
    <link rel="stylesheet" href="../css/lienhe.css">
</head>
<body>
    <div class="from" style="margin-left: 500px;margin-right: 500px;">
        <h1>Liên hệ với chúng tôi</h1>
     <form id="form">
       <div class="input__container">
         <label for="name">Tên</label>
           <!-- The 'required' prop ensures a filled field before submission -->
         <input type="text" id="name" name="name" required />
       </div>
       <div class="input__container">
         <label for="email">Email</label>
         <input type="email" id="email" name="email" required />
       </div>
       <div class="input__container">
         <label for="message">Message</label>
         <textarea id="message" name="message" rows="4" required></textarea>
       </div>
       <button style="color: rgb(0, 0, 0);background-color: aqua;">Gửi</button>
     </form>
    </div>
    <div class="map">
        <h1 style="font-size: 30px;">Địa chỉ của shop</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.962478947036!2d106.67504347480434!3d10.737375289408996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fad3f79572f%3A0xdd89009dc83edae0!2zMTgwIMSQLiBDYW8gTOG7lywgUGjGsOG7nW5nIDQsIFF14bqtbiA4LCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmggNzAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1717215558775!5m2!1svi!2s" width="1100" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
</body>
</html>